body{
  background-image: url('../images/Cool-Star-Wars-Wallpapers.jpg');
    text-align: center;
}

.text-muted{
	color: blue;
}
.last-seconds{
  color: red;
}
.option{
  margin: 15px;
}

.container{
    width: 500px;
}